#contact-page{
	text-align: center;
}

#contact-form{
	width: 56%;
	text-align: left;
	display: inline-block;
	margin-top: 140px;
}

#contact-form label{
	font-size: 16px;
	padding-bottom: 10px;
	display: inline-block;
}

#contact-page input,
#contact-page textarea{
	width: 100%;
	margin-bottom: 24px;
	border: none;
	background-color: #74777b;
	height: 44px;
	font-size: 24px;
	color: #fff;
	padding-left: 15px;
}

#contact-page textarea{
	height: 168px;
}

#contact-form button{
	height: 48px;
	width: 100px;
	font-size: 18px;
	text-transform: uppercase;
}

