#products-page{
	text-align: center;
}

#products-list{
	width: 80%;
	display: inline-block;
	text-align: left;
	padding-top: 170px;
	max-width: 700px;
}

.product-item{
	display: inline-block;
	width: 50%;
	padding-right: 40px;
	padding-bottom: 30px;
}

.product-item-thumb{
	width: 100%;
	height: 150px;
	background-color: #74777b;
	margin-bottom: 15px;
	cursor: pointer;
}

.product-item-name{
	font-size: 16px;
}

.product-item-category-name{
	color: #484a4b;
	font-size: 13px;
}

