html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, a {
    margin: 0;
    padding: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
    height: 100%;
    width: 100%;
}

body{
	background-color: #2f3238;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
}

a, input{
  outline: none;
}

a{
	color: #fff;
	text-decoration: none;
}

#container{
  height: 100%;
  width: 100%;
}