#page-container{
	height: 100%;
	width: 100%;
}

#page-container.ng-enter{
	transition: opacity 0.6s 0.5s;
	opacity: 0;	
}

#page-container.ng-enter.ng-enter-active{
	opacity: 1;	
}

#page-container.ng-leave{
	transition: opacity 0.6s;
}

#page-container.ng-leave.ng-leave-active{
	opacity: 0;	
}

section{
	height: 100%;
	width: 100%;
	position: relative;
}